<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.chordata.anatra</string>
	<key>Program</key>
	<string>/usr/local/chordata/anatraRun</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/chordata/anatraRun</string>
		<string>http://github.com/pearofducks/anatra-example-repo</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/var/log/anatra.log</string>
	<key>StandardOutPath</key>
	<string>/var/log/anatra.log</string>
	<key>StartInterval</key>
	<integer>18000</integer>
</dict>
</plist>
